@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ################################### HTML Element Styling ############################### */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul li {
  list-style: none;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/* ######################################## Utility Classes ################################# */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4f4;
}

.text-black {
  color: #333;
}

.text-grey {
  color: #555;
}

.bg-dark{
  background-color: #263238;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary {
  background-color: white;

  border-radius: 100px;
}

.btn-secondary {
  border: 2px solid red;
  background-color: #fff;
  border-radius: 1.5em;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color:#fcf3f2;
}
/* ######################################### Utility Classes ############################################# */

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/header-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  /* border: 2px solid white; */
  padding: 1rem;
}

 .navbar .logo,.navbar a {
  color: white;
}

.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}

.navbar a:hover {
  border-bottom: 2px solid #f4f4f4;
}

.navbar a {
  padding-bottom: 0.3rem;
}
 .logo {
  float: left;
}
 .nav-items {
  float: right;
  margin-top: 1rem;
}

.navbar::after {
  content: "";
  clear: both;
  display: block;
}

.navbar .nav-items .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}

/* ################################## header content styling###################################### */

.header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header-content p {
  text-transform: uppercase;
}

.header {
  position: relative;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* 

############################ showcase section styling ###################################### */

.showcase {
  padding: 10em 0;
  background: #ddd;
}

.row {
  height: 350px;
  /* border:2px solid red; */
  background: #fff;
  box-shadow:0px 0px 20px 0px #aaa;
}

.row1 {
  margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box {
  float: left;
  width: 50%;
}
.row2 .img-box,
.row1 .text-box {
  float: right;
  width: 50%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.row .img-box {
  height: 100%;
  /* border:2px solid green; */
}

.row .text-box {
  padding: 3rem;
  /* border:2px solid purple; */
}

.row .img-box img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ######################################## Features Section ############################################### */



.features{
  padding:10em 0;
}

.box-wrapper{
  /* border:2px solid red; */
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.37);
}

.box{
  /*   */
  float:left;
  width:33.33333%;
  padding:2rem;
  text-align: center;
}

.box-wrapper::after{
  content: '';
  clear: both;
  display: block;
}

.box-1,.box-3{
  background-color:#263238 ;
  color:white;
}

.box-2{
  background:linear-gradient(25deg,#d64c7f,#ee4758 50%) ;
  color:#fff
}


/* ################### footer section ########################################## */

.footer{
  background: #263238;
  padding: 2rem ;
  text-align: center;

}

.footer i{
  margin: 2rem;
  /* text-align: center; */
  color:#fff;
}

.footer p{
  /* text-align: center; */
  color: #fff;
}

/* #################################### about page styling ########################################## */

.about{
  padding: 5rem 0;
}

.about-heading::after{
  display: block;
  content:'';
  border-bottom: 5px solid #e63946;
}

.about-wrapper{
  /* border:3px solid red; */
  margin-top: 2rem;
}

.left{
  /* border:2px solid green; */
  float:left;
  width:50%;
  text-align: center;
}
.right{
  /* border:2px solid green; */
  float:left;
  width:50%;
  text-align: center;
}

.about-wrapper::after{
content:'';
clear: both;
display: block;

}

.about-wrapper li::before{
  content:'\2713';
  color:#e63946;
  font-weight: bold;
  padding-right: 1rem;
}


.count-items{
  margin-top:3rem;
  /* border:3px solid black; */
}

.count-item{
  float:left;
  width:25%;
  /* border:2px solid red; */
  padding:1rem;
  text-align: center;
}

.count-items::after{
  content:'';
  clear: both;
  display: block;
}

.count-items span{
  color:#e63946;
  font-size: 3rem;
  font-weight:700;
}

.count-item p{
  font-size:1.8rem;
  font-weight: 700;
  color:grey;
}
/* 
################################ banner styling ####################################### */
.cta-banner{
  background:linear-gradient(25deg,#d64c7f,#ee4758 50%) ;
  color:#f4f4f4 ;
  padding:1rem;
  box-shadow:5px 5px 10px #00000057 ;
  margin-top: 3rem;
}

.cta-banner-left{
  width:60%;
  float:left;
}
.cta-banner-right{
  width:40%;
  float:right;
  text-align: right;
}

.cta-banner::after{
  content:"";
  display: block;
  clear: both;
}

.cta-line{
  font-weight:700;
  font-size: 2rem;
  margin-top:1.5rem ;
}

.btn-cta{
  text-align: center;
  display: inline-block;
  font-weight:700;
  font-size: 3rem;
  text-transform: uppercase;
  border:4px solid white;
  padding:0.3rem 2.5rem;
  letter-spacing: 0.5rem;
  color:#f4f4f4;
}


/* ####################################### contact page styling ############################################ */

section.contact-form{
  padding:5rem 0;
  background: #f7f7f7;
}

.form-wrapper{
  /* border:10px solid red; */
}



.form-wrapper .company-address{
  /* border:4px solid green; */
  
  float:left;
  width:49%;
  height:760px;
  background: #FFF;
  /* margin-bottom: 5rem; */
  padding: 1rem;
}
.form-wrapper .form{
  /* border:4px solid purple; */
  float:right;
  width:49%
}

.form-wrapper::after{
  content: '';
  clear: both;
  display: block;
}

.form-wrapper .company-address{
  margin-bottom:3rem;
}



.company-address h2{
  display: inline-block;
  text-transform: uppercase;
  margin-left: 1rem;
}



.company-address img{
  min-height: 43rem;
  max-width: 90%;
  object-fit: cover;
  object-position: right;
  margin-top:2rem;

}



/* ################################### form styling ########################################### */

.form-wrapper .form{
  padding:1rem;
  background: #fff;
  font-size: 1.5rem;
  height:760px;
}
.form-wrapper .form-group{
  /* margin-bottom: 1.5rem; */
}

.form h2{
  border-bottom:4px solid #e63946;



}

.form-wrapper label{
  display: block;

}

.form label::after{
  content:'*';
  color:#ee4758
}


.form-wrapper input{
  width:100%;
  padding: 0.5rem;
}
.form-wrapper .form .form-group{
  margin-bottom: 1.2rem;
}

.form textarea{
  width: 100%;
  height:300px;
  padding: 1rem;
}

.form .submit-btn{
  display: block;
  margin: 0 auto;
  padding:0.5em 3em;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: #ee4758;
  color:#fff;
  outline: none;
  border: none;
  cursor: pointer;
}


/* ############################## media queries ################################### */


@media (max-width:500px){
  html{
    font-size: 50%;
  }

  .navbar .logo,.navbar .nav-items{
    float:none;
    width:100%;
    text-align:center;
    display: block;
  }

  .header-content h1{
    display:none;
  }

  .row{
    width:100%;
    height:auto;
  }
.row .img-box,.row .text-box{
  float:none;
  width:100%;
  text-align:center;
} 
.box{
  float:none;
  width:100%;
  text-align: center;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.37);
  margin-bottom: 7rem;

} 
.box-wrapper{
  box-shadow: none;

}
.cta-banner-left,.cta-banner-right{
  float: none;
  width:100%;
  text-align: center;

}

.form-wrapper .company-address,
.form-wrapper .form{
  float:none;
  width:100%;
  height:auto;
  
}

.form-wrapper .form{
  margin-top: 6rem;
}
}

/* 
@media(min-width:501px) and (max-width:768px)
{
  html{
    font-size:50%;
  }

  .navbar .nav-items,.navbar .logo{
    float:none;
    display:block;
    width:100%;
    text-align: center;
  }
  
  .header-content h1{
    display: none;
  }
  p{
    font-size: 1.8rem;
  }
  
   .row {
    
    width:100%;
    height: auto;
  
  }
  .row .img-box,.row .text-box{
    float:none;
    width:100%;
    text-align: center;
    
  }
  
  
   
  
  
  .features .box{
    float:none;
    width:100%;
    margin-bottom: 7rem;
    text-align: center;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.37);
  } 
  .box-wrapper{
    box-shadow: none;
  }
  
  .cta-banner-left,.cta-banner-right{
    float: none;
    width:100%;
    text-align: center;
  }
  
  .form-wrapper .company-address{
    float:none;
    width:100%;
    height:auto;
    margin-bottom: 5rem;
  }
  
  .form-wrapper .form{
    float:none;
    width:100%;
    height:auto;
    
  }

  .cta-banner-left,.cta-banner-right{

  }
  
  
}

/* 
@media (min-width:769px) and (max-width:1200px){
  html{
    font-size: 56.25%;
  }

.row .text-box h2{
  font-size: 2.2rem;
  font-weight:500;
}


}

@media (orientation:landscape) and (max-height:500px){
  .header{
    height:90vmax;
  }
}  */ 